.Nabvar-Estilo {
    border-top-left-radius: 3.5em 3em !important;
    background-color: #ffffff !important;
  }
  
  .Nabvar-Hamburguesa {
    border: 2px solid #6c3eff;
  }
  
  .btn-link {
    color: #6c3eff !important;
  }
  