.columnFotoTienda {
    float: left;
    width: auto;
    height: 40rem;
    margin-right: 3rem;
    border-radius: 50%;
}
.h2Nombre {
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.divFotoTienda {
    float: left;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 50%;
}
#data tr {
    display: none;
}
.filtrosContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.colFiltrosContainer {
    margin: 0rem !important;
    display: flex;
    justify-content: flex-end;
    padding: 0rem !important;
}
// .divFotoTiendaNew {
//   float: left;
//   width: 142px;
//   height: 142px;
//   margin-right: 5rem;
//   margin-left: 3rem;
//   margin-bottom: 1rem;
//   overflow: hidden;
// }

// #fotoTienda {
//   display: inline;
//   width: 142px;

// }

.btnGuardarPerfil {
    float: right;
}

.columnBtnGuardarPerfil {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#iconoBtn {
    margin-top: 25%;
    margin-bottom: 10%;
}

.txtBtnPress {
    font-family: 'SpartanSemiBold';
    font-size: 14px;
    color: #fff;
}

.Search-Inputprepend-Input {
    border-left: none;
    height: 48px;
    border-radius: 0px 20px 20px 0px !important;
    outline: none !important;
}
.Search-Inputprepend-Input:focus {
    outline: none !important;
}
.Search-Inputprepend {
    background-color: #ffffff;
    border-right: none;
    border-radius: 20px;
    outline: none !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.tableScrollVertical {
    width: auto;
    max-height: 70vh;
    overflow-y: scroll;
}

/* width */
.tableScrollVertical::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
.tableScrollVertical::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.tableScrollVertical::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204);
    border-radius: 1em;
}

/* Handle on hover */
.tableScrollVertical::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 138, 138);
}
.TiendaTabla-Body {
    font-size: 0.8rem !important;
}
.tableClickeable {
    cursor: pointer;
}
.tableButton {
    background-color: #ffffff00;
    border: none;
}

.servicioPendiente {
    color: #6c3eff;
}

.servicioNoAprobado {
    color: #ff3b7b;
}

.ganancias {
    color: #6c3eff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.textGanancias {
    font-size: 14px;
    color: #1a1446;
    line-height: 16px;
    font-weight: normal;
}

#fotoProducto {
    display: inline;
    width: 142px;
    cursor: pointer;
}

.divFotoProducto {
    margin-left: 35%;
    width: 142px;
    height: 142px;
    margin-right: 5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 50%;
}

.imagenProducto {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
