.Categoria-Titulo {
    font-family: 'SpartanSemiBold';
    font-size: 28px;
    color: #1A1446;
}

.Categoria-SubTitulo {
    font-family: 'SpartanSemiBold';
    font-size: 18px;
    color: #1A1446;
    float: left;
}
.Categoria-SubTitulo-Alerta {
    font-family: 'SpartanSemiBold';
    color: #FF3B7B;
    font-Size: 12px;

}


.Categoria-Alerta-Rojo {

    margin-top: 0.3em;
    font-family: 'SpartanSemiBold';
    font-size: x-small;
    color: #ff0000;
}

.Categoria-SubTitulo-Rojo {
    font-family: 'SpartanSemiBold';
    font-size: small;
    color: #ff0000;
}

.Categoria-form {
    font-family: 'SpartanSemiBold';
    color: #1A1446;
}

.Categoria-btnMorado {
    height: 48px;
    background-color: #6C3EFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 30px;
    -webkit-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
}

.Categoria-btnRosado {
    height: 48px;
    background-color: #FF3B7B;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 30px;
    -webkit-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
}


.Categoria-btnAzul {
    height: 48px;
    background-color: #00D4D8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 30px;
    -webkit-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
}

.Categoria-btnTransparente{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.Categoria-inputShadow {
    -webkit-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.75);
}

.Categoria-Inputprepend {
    background-color: #FFFFFF;
    border-right: none;
}

.Categoria-Inputprepend-Input {
    border-left: none;
    height: 50px;
}

#Categoria thead>tr>th {
    border-bottom: none;
    border-top: none;
}

table th,
table td {
    vertical-align: middle !important;
}

#Categoria tbody>tr>td {
    border-bottom: none;
    border-top: none;
}

.CategoriaTabla-Thead {
    color: #9C9B9B;
}

.CategoriaTabla-Body {
    color: #1A1446;
    font-size: 18px;
    font-family: 'SpartanSemiBold';
}

.Categoria-modal {
    border-radius: 1.3rem !important;
}

.Categoria-inputBottomBorder {
    border-radius: 0px !important;
    border-bottom: 2px solid #1A1446;
}

.Categoria-imgUpload {
    border: 2px dotted #6C3EFF;
    border-radius: 30px;
}

.fileContainer {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05) !important;
    border-radius: 40px !important;
    border: 0px solid !important;
    opacity: .8 !important;
}

.Categoria-imgUpload-btn {
    background-color: #6C3EFF !important;
}

.Categoria-imagen{
    width: 75px;
}