.columnAgenda {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.DayPicker-Month {
    display: inline-block;
    font-size: 10px;
}
.tabButtons {
    height: 54px;
    width: 100%;
    background: #6c3eff;
    border-radius: 30px;
    position: relative;
    align-items: center;
}

.widthFull{
    width: 100%;
    margin: 1em;
    height: 50px;
}
.tabButtonSelect {
    width: 49%;
    height: 80%;
    background: #ffffff;
    border-radius: 30px;
    color: #6c3eff;
    margin: auto;
    padding-top: 15px;
    justify-content: center;
    text-align: center;
    font-family: 'SpartanSemiBold';
    font-size: 18px;
    cursor: pointer;
}

.tabButtonUnSelect {
    width: 49%;
    height: 80%;
    color: #ffffff;
    margin: auto;
    padding-top: 15px;
    font-family: 'SpartanSemiBold';
    font-size: 18px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}
.bodyContainerAgenga {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columnLeftAgenda {
    display: flex;
    width: 20%;
    height: fit-content;
    flex-direction: column;
}
.columnRightAgenda {
    display: flex;
    width: 75%;
    height: 50vh;
    flex-direction: column;
}

.tabCalendar {
    height: 54px;
    width: 100%;
    background: #6c3eff;
    border-radius: 30px;
    position: relative;
    align-items: center;
}

.tabCalendarSelect {
    width: 31%;
    height: 48px;
    background: #ffffff;
    border-radius: 30px;
    color: #6c3eff;
    margin: auto;
    padding-top: 15px;
    font-family: 'SpartanSemiBold';
    font-size: 18px;
    cursor: pointer;
}

.tabCalendarUnSelect {
    width: 31%;
    height: 48px;
    color: #ffffff;
    margin: auto;
    padding-top: 15px;
    font-family: 'SpartanSemiBold';
    font-size: 18px;
    cursor: pointer;
}
.callendarContainer {
    width: 100%;
    height: 50vh;
}

.fc .fc-button-primary {
    color: #fff !important;
    color: #fff !important;
    background-color: #6c3eff !important;
    background-color: #6c3eff !important;
    border-color: #6c3eff;
    border-color: #6c3eff !important;
}

/* ------------------------------------------------------------------- 
 * ## modal popup
 * ------------------------------------------------------------------- */
.modal-popup {
    width: 30vw;
    height: 50vh;
    margin: 25vh 35vw;
    position: 'absolute';
    width: 400;
    border: none;
    border-inline: none;
    background-color: #fff;
    padding: 2rem 4rem;
    outline: 'none';
}

.modal-popup:focus {
    outline: none;
}

.fc-timeGridWeek-button {
    border-radius: 0px !important;
}

.fc-timeGridDay-button {
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.fc-dayGridMonth-button {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
}
.fc-today-button {
    border-radius: 20px !important;
}

.fc-next-button {
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.fc-prev-button {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
}

.tabsRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------- 
 * ## checkbox proximas
 * ------------------------------------------------------------------- */

.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #1a1446;
}

/* Hide the browser's default checkbox */
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.check-6c3eff {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 15%;
    background-color: #eee;
    border: 2px solid #6c3eff;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .check-6c3eff {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .check-6c3eff {
    background-color: #6c3eff;
}

/* Create the checkBoxProxima/indicator (hidden when not checked) */
.check-6c3eff:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkBoxProxima when checked */
.containerCheck input:checked ~ .check-6c3eff:after {
    display: block;
}

/* Style the checkBoxProxima/indicator */
.containerCheck .check-6c3eff:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------------------------------------------------------------- 
 * ## checkbox cancelada
 * ------------------------------------------------------------------- */

/* Create a custom checkbox */
.check-FF3B7B {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 15%;
    background-color: #eee;
    border: 2px solid #ff3b7b;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .check-FF3B7B {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .check-FF3B7B {
    background-color: #ff3b7b;
}

/* Create the checkBoxProxima/indicator (hidden when not checked) */
.check-FF3B7B:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkBoxProxima when checked */
.containerCheck input:checked ~ .check-FF3B7B:after {
    display: block;
}

/* Style the checkBoxProxima/indicator */
.containerCheck .check-FF3B7B:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------------------------------------------------------------- 
 * ## checkbox pendiente
 * ------------------------------------------------------------------- */

/* Create a custom checkbox */
.check-00d4d8 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 15%;
    background-color: #eee;
    border: 2px solid #00d4d8;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .check-00d4d8 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .check-00d4d8 {
    background-color: #00d4d8;
}

/* Create the checkBoxProxima/indicator (hidden when not checked) */
.check-00d4d8:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkBoxProxima when checked */
.containerCheck input:checked ~ .check-00d4d8:after {
    display: block;
}

/* Style the checkBoxProxima/indicator */
.containerCheck .check-00d4d8:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------------------------------------------------------------- 
 * ## checkbox terminada
 * ------------------------------------------------------------------- */

/* Create a custom checkbox */
.check-1a1446 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 15%;
    background-color: #eee;
    border: 2px solid #1a1446;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .check-1a1446 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .check-1a1446 {
    background-color: #1a1446;
}

/* Create the checkBoxProxima/indicator (hidden when not checked) */
.check-1a1446:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkBoxProxima when checked */
.containerCheck input:checked ~ .check-1a1446:after {
    display: block;
}

/* Style the checkBoxProxima/indicator */
.containerCheck .check-1a1446:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
.makeStyles-appointment-157{
  font-size: 0px !important;
}


.makeStyles-cell-47 {
  border-right: 0px solid rgba(224, 224, 224, 1) !important;
  border-bottom: 0px solid rgba(224, 224, 224, 1) !important;
}


.Cell-cell-30 {
  border-right: 0px solid rgba(224, 224, 224, 1) !important;
  height: 0px !important;
}

.Cell-dayOfWeek-23{
font-style: normal !important;
font-weight: 600 !important;
font-size: 14px !important;
line-height: 16px !important;
color: #1A1446 !important;
}

.Cell-dayOfMonth-24{
font-style: normal !important;
font-weight: 600 !important;
font-size: 28px !important;
line-height: 31px !important;
color: #1A1446 !important;
}

.Cell-highlightedText-25{
  color: #6C3EFF !important;
}

.TitleCell-content-17 {
  display: none !important;
}

.Label-text-40 {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #1a1446 !important;
}
*/

.MuiPaper-elevation1 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
        0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}

.makeStyles-ordinaryLeftPanelBorder-6 {
    border-right: 0px solid rgba(224, 224, 224, 1) !important;
}

.makeStyles-ordinaryHeaderBorder-8 {
    border-bottom: 0px solid rgba(224, 224, 224, 1) !important;
}
.estadoOrdenes {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    color: #1a1446;
}

.Terminada {
    padding-top: 2px;
    background-color: #1a1446;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.Próximas {
    padding-top: 2px;
    background-color: #6c3eff;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
.Canceladas {
    padding-top: 2px;
    background-color: #ff3b7b;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.Pendientes {
    padding-top: 2px;
    background-color: #00d4d8;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado1 {
    padding-top: 2px;
    background-color: #6c3eff;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado2 {
    padding-top: 2px;
    background-color: #ff3b7b;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado3 {
    padding-top: 2px;
    background-color: #00d4d8;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado4 {
    padding-top: 2px;
    background-color: #1a1446;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado5 {
    padding-top: 2px;
    background-color: #7cb3b2;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado6 {
    padding-top: 2px;
    background-color: #c726b2;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado7 {
    padding-top: 2px;
    background-color: #ff2663;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado8 {
    padding-top: 2px;
    background-color: #ffc663;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado9 {
    padding-top: 2px;
    background-color: #1fc6e9;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.empleado0 {
    padding-top: 2px;
    background-color: #1f49f8;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
.colSectionOneLeft {
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .bodyContainerAgenga {
        flex-direction: column;
    }
    .columnLeftAgenda {
        flex-direction: row;
        width: 100%;
        margin-bottom: 2rem;
    }
    .columnRightAgenda {
        width: 100%;
        margin-bottom: 2rem;
    }
    .colSectionOneLeft {
        flex-direction: column;
        width: 50%;
    }
    .tabButtonSelect {
        padding-top: 10px;
        text-align: center;
    }
    .tabButtonUnSelect {
        padding-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .columnLeftAgenda {
        flex-direction: column;
    }
    .colSectionOneLeft {
        width: 100%;
    }
    h5,
    .h5 {
        font-size: 4vw;
    }
    .fc .fc-toolbar-title {
        font-size: 4vw !important;
    }
    .fc .fc-button {
        font-size: 4vw !important;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        width: 200%;
    }
    .fc {
        overflow-x: scroll;
        width: 100%;
    }
    .fc-daygrid {
        width: 200%;
    }
    .fc-dayGridMonth-view {
        width: 200%;
    }
    .tabButtonSelect {
        padding-top: 5px;
        display: flex;
        justify-content: center;
    }
    .tabButtonUnSelect {
        padding-top: 5px;
        display: flex;
        justify-content: center;
    }
    .tabText {
        max-width: min-content;
        text-align: center;
    }
}
