.Layout-ColorFondo {
    //background-color: #6C3EFF !important;
}

.Layout-BordeRadius {
    border-bottom-left-radius: 3.5em 3em !important;
    border-top-left-radius: 3.5em 3em !important;
    background-color: #ffffff;
}