.columnFotoTienda {
    float: left;
    width: auto;
    height: 40rem;
    margin-right: 3rem;
    border-radius: 50%;
}
.h2Nombre {
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.divFotoTienda {
    float: left;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 50%;
}

// .divFotoTiendaNew{
//   float: left;
//   width: 142px;
//   height: 142px;
//   margin-right: 5rem;
//   margin-left: 3rem;
//   margin-bottom: 1rem;
//   overflow: hidden;
// }

// #fotoTienda {
//   display: inline;
//   width: 142px;

// }

#iconoBtn {
    margin-top: 25%;
    margin-bottom: 10%;
}

.txtBtnPress {
    font-family: 'SpartanSemiBold';
    font-size: 14px;
    color: #fff;
}

.SubTitulo-List {
    font-size: 20px;
    color: #1a1446;
    text-align: start;
}

.productosList {
    margin-left: 1em;
    font-size: 16px;
    color: #1a1446;
}

.columnDatos {
    float: left;
    width: 200px;
}

.datos {
    background-color: #1a1446;
    margin-right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
