.columnFotoCliente {
    float: left;
    width: 110px;
    height: 110px;
    margin-right: 5rem;
    border-radius: 50%;
}

.divFotoCliente {
    float: left;
    width: 110px;
    height: 110px;
    margin-right: 5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 50%;
}

#fotoCliente {
    display: inline;
    width: 110px;
}

.searchFilterBox {
    width: 70% !important;
}

.btnGuardarCliente {
    float: right;
}

.columnBtnGuardarCliente {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.Titulo-Cliente {
    float: left;
}

.columnClienteDatos {
    width: 100%;
}

.innerBox {
    padding-left: 30px;
    padding-top: 15px;
    width: 355px;
    height: 167px;
    background-color: #fff;
    display: none;
    border-radius: 15px;
    box-shadow: 3px 7px 15px -5px rgba(0, 0, 0, 1);
}

.show .innerBox {
    position: absolute;
    top: 400px;
    display: block;
}
