.perfilContainer{
  margin: 0rem 10rem !important;
  height: 100vh;
}

.columnFotoPerfil {
  float: left;
  width: auto;
  height: 40rem;  
  margin-right: 15rem;
  border-radius: 50%;
}

.h2Nombre{
  margin-left: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.divFotoPerfil{
  
  float: left;
  width: 142px;
  height: 142px;  
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 50%;
}
.formRow{
  margin-right: 0rem !important;
  margin-left: 0rem !important;
  display: flex;
  justify-content: space-between;
}
.FotoPerfil{
  
  margin-left: 5rem;
  width: 142px;
  height: 142px;  
  margin: 0rem; 
  border-radius: 50%;
}

#fotoPerfil {
  display: inline;
  width: 142px;
  cursor: pointer;
}

.columnPerfilDatos {
  float: left;
  width: 40%;
  margin: 0rem;
}

.btnGuardarPerfil {
  float: right;
}

.txtGuardarPerfil {
  float: right;
  font-family: "SpartanSemiBold";
  font-size: medium;
  color: #ff0000;
}

.columnBtnEliminarPerfil {
  width: 50%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  float: left;
}

.columnBtnGuardarPerfil {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.btnEliminarCuenta {
  margin-left: 20rem;
}

.splashScreen{
  height: auto;
  width: 50%;
  padding-top: 50%;
}

.divButtons{

justify-content: space-between;
}